* {
    background-color: #DADCDE;
    color: #445F4A;
}
header , footer{
   display: flex;
    border-left: 5px solid black;
    height: 75px;
    width: 100%;
    margin: 5px, 5px;
    justify-content: space-between;
}
nav ul, footer ul{
    display: flex;
    justify-content: space-between;
    list-style-type: georgian;
}

#headimg{
   max-width: 100%;
   max-height: 100%;
   border-radius: 20px;
   
}
nav {
    width: 40%;
    margin-right: 10px;
}
#img {
    width: 100%;
    border-radius: 10px;
    max-height: 100%;
 }
 .section {
    position: relative;
    border-left: 5px solid black;
    margin: 2px;
    display: flex;
 }

 #subtitle {
    display: flex;
    justify-content: flex-start;
    align-content: flex-end;
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 8px;
    background-color: transparent;
    color: white;
 }
 h3{
    margin-left: -15%;
    width: 30px;
 }
 #maincontent{ 
    margin-left: 15%;
 }
 #mainwork {
    max-height: 300px;
    border-radius: 15px;
    width: 100%;
    overflow: hidden;
    
 }
 a{
   background-color: transparent;
 }

 .flexwork {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   overflow: hidden;
   justify-content: space-between;
   align-content: space-between;
   
 }
 .flexwork div {
   overflow: hidden;
 }
#headdiv {
   width: auto;
   height: auto;
   display: inline-flex;
}
.imgblk {
   width: 100%;
   max-height: 100%;
   overflow: hidden;
}
.flexitems {
   display: flex;
   flex-wrap: wrap;
   border-radius: 15px;
   max-width: 49%;
   margin: 2px 2px;
   max-height: 200px;
}
/*
 .flexwork {
   display: flex;
   height: auto;
   flex-wrap:wrap
 }
#footerlist {
   display: flex;
   justify-content: flex-end;

   footer {
   display: flex;
   width: 100%;
   margin-top: 40px;
   align-items: flex-end;
}

 .flexitems {
   display: flex;
   border: 2px solid black;
   width: 45%;
   margin: 2px;
   max-height: 100px;